.nav {
    position: fixed;
    width: 260px;
    height: 100%;
    background-color: #fff;
}

.logo {
    position: fixed;
}

.acc, .add {
    margin-left: 5px;
    padding-right: 6px;
    margin-top: -6px;
}

h2:hover {
    opacity: 0.5;
    cursor: pointer;
}

.link-btn {
    text-decoration: none;
}
